<form class="ui form">
  <div class="field">
    <label>What would you like to share?</label>
    <textarea name='body' placeholder="Lay it down, we'll pick it up!" type="text" [(ngModel)]='chirpText' ></textarea>
  </div>

  <button class="ui button primary" type="button"
    (click)='OnNewChirp(mytext)'
  >Chirp</button>
</form>

<div class="ui comments" *ngIf='chirps'>
  <div class="comment" *ngFor='let chirp of chirps'>
    <a class="avatar">
      <img src="public/avatars/{{chirp.avatar}}">
    </a>
    <div class="content">
      <a class="author">{{chirp.author}}</a>
      <div class="metadata">
        <span class="date">{{chirp.date | date: 'hh:mm:ss dd/mm/yy'}}</span>
      </div>
      <div class="text">
        {{chirp.body}}
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
        <a class="like" (click)="OnFavorite(chirp)">
          <i class="like icon" [ngClass]='{ liked: chirp.hasFavorited(userService.getCurrentUser()) }'></i> {{chirp.favorites.length}} Favorites
        </a>

        <a class="rechirp" (click)="OnRechirp(chirp)">
          <i class="retweet icon" [ngClass]='{ rechirped: chirp.hasRechirped(userService.getCurrentUser()) }'></i> {{chirp.rechirps.length}} Rechirps
        </a>
      </div>
    </div>
  </div>
</div>
  
<div *ngIf='!chirps'>
  <h2>No chirps to display right now...</h2>
</div>
